a {
    text-decoration: none;
    color: black;
}
body {
    margin: 0px;
}
#TopTitle {
    border-bottom: 1px solid grey;
    text-align: center;
    margin: 0px;
    padding-bottom: 20px;
}
#Article {
    display: grid;
    grid-template-columns: 150px 1fr;
}
#MainList {
    border-right: 1px solid grey;
    width: 100px;
    margin: 0px;
    padding: 15px;
    padding-left: 30px;
}
#MainText {
    margin: 0px;
    padding: 0px;
    padding-left: 20px;
}
#MainTitle {
    margin-top: 0px;
    padding-top: 10px;
}